{% extends 'base.html' %}
{% block title %} Agregar Estudiante {% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <div class="card">
            <div class="card-content">
                <h3 class="title is-4">Agregar Comida</h3>
                
                <form action="{{ url_for('create_comida') }}" method="POST">
                    
                    <div class="field">
                        <label class="label" for="no_control">Id. Comida:</label>
                        <div class="control">
                            <input type="text" class="input" id="id_comida" name="id_comida" required>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label" for="nombre">Nombre:</label>
                        <div class="control">
                            <input type="text" class="input" id="nombre" name="nombre" required>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label" for="ap_paterno">Precio:</label>
                        <div class="control">
                            <input type="text" class="input" id="precio" name="precio" required>
                        </div>
                    </div>
                    
                    <div class="field is-grouped mt-5">
                        <div class="control">
                            <button type="submit" class="button is-link">Guardar</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('index') }}" class="button is-danger">Cancelar</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}