{% extends 'base.html' %}
{% block title %}Lista de Alimentos{% endblock %}

{% block content %}
<div class="block">
    <a href="/comidas/new" class="button is-success">Agregar Comida</a>
</div>

<div class="table-container">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>No. comida</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for comida in comidas %}
            <tr>
                <td>{{ comida.id_comida }}</td>
                <td>{{ comida.nombre }}</td>
                <td>{{ comida.precio }}</td>
                <td>
                    <div class="buttons">
                        <a href="{{ url_for('delete_comida', id_comida=comida.id_comida) }}" 
                           class="button is-danger is-small">Eliminar</a>
                        <a class="button is-warning is-small">Actualizar</a>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}